services:
  - type: web
    name: api-first-video-app-backend
    env: python
    buildCommand: pip install -r backend/requirements.txt
    startCommand: gunicorn app:app
    plan: free
    autoDeploy: true
    envVars:
      - key: MONGO_URI
        sync: false
      - key: SECRET_KEY
        sync: false
    routes:
      - type: rewrite
        source: /*
        destination: /
